@media (max-width: 1199px)
	.container
		width: 960px
	.title
		&_square
			margin: 0px auto 40px auto
			&:before 
				left: -14px
				width: 47px
				height: 47px
		&_fz18
			font-size: 16px
			line-height: 21px
		&_fz30
			font-size: 26px
			line-height: 26px
		&_fw700
			line-height: 27px
	.circle_orange
		width: 320px
		height: 320px
		border: 30px solid $main-color
	.button 
		font-size: 13px
		border-radius: 25px
		&__main
			width: 235px
			height: 42px
	.text 
		font-size: 13px
	.promo 
		min-height: 549px
		padding: 30px 0px
		&__button
			margin-top: 167px
		&__title
			font-size: 24px
			line-height: 55px
			width: 523px
			span 
				font-size: 34px
	.header 
		margin-bottom: 137px
		height: 30px
	.about
		padding: 54px 0px 30px 0px
		&__info
			grid-template: 368px / 57% 40%
			gap: 0px 3%
		&__circle
			top: 26px
			left: 7px
	.advantages
		min-height: 370px
		padding: 72px 0px 39px
		&__percs
			grid-template: 180px / repeat(6, 100px)
			gap: 44px
			&-col
				&.top 
					margin-top: 35px
		&__item
			display: flex
			flex-direction: column
			align-items: center
			&-undtext
				font-size: 14px
			&-circle
				width: 100px
				height: 100px
				margin-bottom: 11px
				img 
					width: 57%
	.rooms 
		padding-top: 55px
		&__info
			grid-template: repeat(3, 354px) / auto
			grid-auto-rows: 354px
			gap: 33px 0px
		&__item
			gap: 0px 23px
			&-price
				margin: 22px 0px
				&-undertitle
					font-size: 11px
				table 
					margin-top: 14px
					height: 81px
					font-size: 14px
					line-height: 23px
			&-head
				top: -66px
				width: 260px
				height: 126px
				.sides
					margin-bottom: 18px
					font-size: 14px
			&-fitting
				gap: 8px 0px
			&-device
				&-info
					font-size: 13px
				&-img 
					width: 14px
					img 
						width: 155%
			&-equipment
				&-title
					margin-bottom: 11px
	.way 
		padding-top: 55px
		&__circle
			top: 31px
			right: 7px
		&__navigation
			grid-template: 375px / 40% 57%
			gap: 0px 3%
	.reviews
		min-height: 525px
		margin-top: 27px
		padding-top: 75px
		&__slider
			height: 210px
			&-item 
				width: 430px
				height: 210px
				padding: 24px 52px 16px 38px
				&:nth-child(2n-1)
					margin-right: 75px
				&-bott 
					font-size: 13px
			&-line
				width: 830px
		&__dots
			margin: 33px 0px
			&-dot
				width: 7px
				height: 7px
				&.active 
					width: 18px
					height: 18px
	.footer 
		min-height: 310px
		padding-top: 48px
		&__info
			width: 830px
		&__contacts
			&-title
				font-size: 17px
				margin-bottom: 20px
			&-address, &-phone, &-phone a 
				font-size: 13px
				margin-bottom: 13px
			&-links
				&-circle
					width: 30px
					height: 30px
					&:nth-child(:last-child)
						margin-right: 8px
					a 
						font-size: 16px
		&__nav
			&-title
				font-size: 17px
				margin-bottom: 19px
			&-list
				&-item
					a 
						font-size: 13px
					&:not(:last-child)
						margin-bottom: 11px
					height: 21px
		&__hr
			width: 830px
			margin: 21px auto 0px
		&__circle
			right: -160px
			bottom: -160px
@media (max-width: 991px)
	.container
		width: 720px
	.title 
		&_fw700
			line-height: 24
		&_fz18
			font-size: 14px
			line-height: 19px
		&_fz30
			font-size: 23px
			line-height: 23px
		&_square
			margin: 0px auto 33px auto
			&:before
				left: -12px
				width: 42px
				height: 42px
	.circle 
		&_orange
			width: 280px
			height: 280px
	.button 
		font-size: 12px
		line-height: 25px
		&_main
			width: 225px
			height: 40px
	.text 
		font-size: 11px
	.promo 
		min-height: 460px
		padding: 25px 0px
		&__button
			margin-top: 137px
		&__title
			font-size: 22px
			line-height: 43px
			width: 523px
			span 
				font-size: 31px
	.header 
		margin-bottom: 115px
		height: 26px
	.about 
		padding: 40px 0px 25px 0px
		&__info
			grid-template: 305px / 57% 40%
			gap: 0px 3%
		&__circle
			top: 23px
			left: 6px
	.advantages
		min-height: 315px
		padding: 53px 0px 33px
		&__item
			&-circle
				width: 80px
				height: 80px
				margin-bottom: 8px
			&-undtext
				font-size: 13px
		&__percs
			grid-template: 150px / repeat(6, 80px)
			gap: 30px
	.rooms 
		padding-top: 40px
		&__info
			margin-top: 0px
			grid-template: repeat(3, 295px) / auto 
			grid-auto-rows: 295px
			gap: 26px 0px
		&__item
			gap: 0px 18px
			&-price
				margin: 12px 0px
				table 
					margin-top: 10px
					height: 70px
					font-size: 12px
					line-height: 20px
				&-undertitle
					font-size: 10px
			&-device
				&-img
					width: 10px
				&-info
					font-size: 12px
			&-fitting
				gap: 6px 0px
			&-equipment
				&-title
					margin-bottom: 7px
			&-head
				top: -48px
				width: 238px
				height: 100px
				box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.4)
				.sides 
					margin-bottom: 17px
					font-size: 13px
	.way 
		padding-top: 40px
		&__navigation
			grid-template: 345px / 40% 57%
	.reviews
		min-height: 420px
		margin-top: 24px
		padding-top: 55px
		&__slider
			height: 175px
			&-line
				width: 672px
			&-item 
				width: 430px
				height: 175px
				padding: 19px 33px 11px 27px
				&-bott
					font-size: 12px
				&:nth-child(2n-1)
					margin-right: 37px
			&-right, &-left
				width: 13px
		&__dots
			margin: 25px 0px
			&-dot
				&.active 
					width: 15px
					height: 15px
					border: 2px solid #818181
	.footer 
		min-height: 265px
		padding-top: 33px
		&__info
			width: 672px
		&__contacts
			&-title
				font-size: 15px
				margin-bottom: 15px
			&-address, &-phone, &-phone a 
				font-size: 12px
				margin-bottom: 12px
			&-links
				&-circle
					width: 27px
					height: 27px
					a 
						font-size: 15px
		&__nav
			&-title
				font-size: 15px
				margin-bottom: 15px
			&-list
				&-item 
					height: 20px
					a 
						font-size: 12px
		&__hr
			width: 672px
			margin: 18px auto 0px
		&__circle
			right: -140px
			bottom: -140px
@media (max-width: 767px)
	.container
		width: 540px
	.title
		&_fz18
			font-size: 11px
			line-height: 11px
		&_fz30	
			font-size: 15px
			line-height: 15px
		&_square
			margin: 0px auto 23px
			&:before
				left: -11px
				width: 32px
				height: 32px
	.button
		font-size: 9px
		line-height: 9px
		&_main
			width: 170px
			height: 30px
	.circle 
		&_orange 
			width: 222px
			height: 222px
			border: 25px solid $main-color
	.text 
		font-size: 9px
		line-height: 1.1
	.promo 
		min-height: 371px
		padding: 15px 0px
		&__button
			margin-top: 120px
		&__title
			font-size: 18px
			line-height: 30px
			width: 385px
			span 
				font-size: 25px
	.header 
		margin-bottom: 100px
		height: 22px
	.about 
		padding: 28px 0px 20px 0px
		&__circle
			top: 17px
			left: 4px
		&__info
			grid-template: 215px / 40% 57%
	.advantages
		min-height: 245px
		padding: 35px 0px 21px
		&__percs
			grid-template: 120px / repeat(6, 65px)
			gap: 20px
			&-col 
				&.top 
					margin-top: 30px
		&__item
			&-undtext
				font-size: 10px
			&-circle
				width: 65px
				height: 65px
				margin-bottom: 5px
				box-shadow: -2px 3px 3px 0px rgba(0, 0, 0, 0.25)
	.rooms 
		padding-top: 26px
		&__info
			grid-template: repeat(3, 210px) / auto
			grid-auto-rows: 210px
			gap: 18px 0px
		&__item
			gap: 0px 10px
			&-price
				margin: 7px 0px
				table 
					margin-top: 7px
					height: 58px
					font-size: 9px
					line-height: 9px
				&-undertitle
					font-size: 8px
			&-device
				&-img
					width: 7px
					margin-right: 5px
				&-info
					font-size: 9px
			&-equipment
				&-title
					margin-bottom: 5px
			&-fitting
				gap: 4px 0px
			&-head
				top: -37px
				width: 186px
				height: 74px
				.sides
					margin-bottom: 10px
					font-size: 10px
			&-img
				.left, .right 
					width: 10px
				.left 
					left: 8px
				.right
					right: 8px
	.way 
		padding-top: 26px
		&__navigation
			grid-template: 220px / 40% 57%
	.reviews
		min-height: 315px
		margin-top: 20px
		padding-top: 35px
		&__dots
			margin: 15px 0px
			&-dot
				width: 6px
				height: 6px
				&:not(:last-child)
					margin-right: 11px
				&.active 
					width: 11px
					height: 11px
					border: 1px solid #818181
		&__slider
			height: 150px
			&-item 
				height: 150px
				padding: 17px 20px 11px
				&-bott 
					font-size: 10px
				&:nth-child(2n-1)
					margin-right: 9px
			&-line
				width: 100%
			&-left, &-right 
				width: 11px
				bottom: 40px
			&-left
				left: 120px
			&-right
				right: 120px
	.footer 
		min-height: 180px
		padding-top: 20px
		&__circle
			right: -111px
			bottom: -111px
		&__contacts
			&-address, &-phone, &-phone a 
				font-size: 9px
				margin-bottom: 8px
			&-title
				font-size: 12px
				margin-bottom: 9px
			&-links
				&-circle
					width: 22px
					height: 22px
					border: 1px solid #131313
					a 
						font-size: 12px
		&__nav
			&-title
				font-size: 12px
				margin-bottom: 9px
			&-list
				&-item 
					height: 13px
					display: flex
					&:not(:last-child)
						margin-bottom: 6px
					a 
						font-size: 9px
		&__info
			width: 100%
		&__hr
			width: 100%
			margin: 14px auto 0px